
# Change the values below to match your database connection details.
# The DATABASE_URL environment variable is used to configure the database connection for Prisma.
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/tindatrack_test"

# The JWT secret is used to sign and verify JSON Web Tokens (JWTs) for authentication.
# Make sure to replace the value below with a long, random secret (at least 32 characters) for production use.
JWT_SECRET="replace-this-with-a-long-random-secret-at-least-32-characters"
